html,
body {
  height: 100%;
  width: 100%;
  background-color: #598f36;
}

.home-cta {
  background-image: url('/images/chitchat.png');
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-cta>h1 {
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  font-size: 5rem;
}

.content {
  margin-top: 60px;
}

.form-group {
  margin-top: 60px;
}

.container {
  margin-top: 60px;
  color: #fff;
}

.box {
  overflow: auto;
  margin-bottom: 20px;
  height: 400px;
  border-radius: 5%;
}

.box.left {
  float: left;
  width: 75%;
  background-color: rgba(255,255,255,0.75);
}

.box.right {
  float: right;
  width: 20%;
  background-color: #849c53;
}

.table-striped {
  color: #fff;
}

.backdiv {
  background-color: #224518;
}

.user {
  text-align: center;
}

.destroy {
  display: inline;
}

.destroy > input[type="submit"] {
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
  color: #be5f4a;
}

.destroy:hover > input[type="submit"] {
  text-decoration: underline;
  color: #be5f4a;
}

.flash {
  margin-top: 60px;
}

.nav-destroy>input[type="submit"] {
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
  color: #be5f4a;
  display: block;
  padding: .5rem 0.5rem;
}

.nav-destroy:hover>input[type="submit"] {
  color: rgba(0, 0, 0, .7);
}

.user-container {
  background-color: #224518;
  color: #e1ff90;
  border-radius: 15px;
  margin: 10px 0;
}

.text {
  margin: 20px;
}

a {
  color: #be5f4a
}

.table-striped.convo  {
  margin: 0px 40px;
  color: #be5f4a;
  width: auto;
  height: auto;
}

.message-row {
  background-color: transparent !important;
}

.user-name {
  font-style: italic;
  vertical-align: bottom !important;
  padding: 30px 10px 0px 10px !important;
  border-top: 0px !important;
}

.user-name.side {
  padding: 10px 10px 0px 10px !important;
}

.table-striped.user {
  margin: 0px;
  color: #be5f4a;
}

table th.chatter {
  border-top: 0px !important;
}

textarea.form-control.message {
  width: 74%;
}

.convo-buttons {
  vertical-align: top !important;
}

ul.nav.flex-column {
  align-items: flex-end;
}

.dropdown-toggle::after {
  display:none;
}

div.dropdown-menu {
  text-align: center;
}

td.heading {
  font-weight: bold;
}

td.user-info {
  color: #e1ff90;
}

div.user-profile {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

div.user-profile.space {
  padding-top: 50px;
}

div.profile-buttons {
  text-align: end;
  margin-right: 20px;
}

.break-word {
  word-wrap: break-word;
}